<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.toomanystrays">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ.GSERVICES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_wakeup_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_wakeup_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TooManyStrays"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activities.NewStrayActivity"
            android:exported="false"
            android:parentActivityName=".activities.CreatePinActivity"
            android:noHistory="false"/>

        <activity
            android:name=".activities.CreatePinActivity"
            android:exported="false"
            android:parentActivityName=".MainScreen" />
        <activity
            android:name=".activities.PinDetailsActivity"
            android:exported="false"
            android:windowSoftInputMode="stateVisible|adjustPan"
            android:noHistory="true" />
        <activity
            android:name=".activities.MyPinsListActivity"
            android:exported="false"
            android:parentActivityName=".MainScreen" />
        <activity
            android:name=".MainScreen"
            android:exported="false" />
        <activity
            android:name=".activities.SignIn_Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDiOeSegvZ-XySVoeKG_-Id_jkFOi6-hlY" />
    </application>

</manifest>